<!DOCTYPE html>
<html ng-app="myApp">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Gamers</title>
	    
	    <!-- Libraries -->
	    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />""
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>

	    <!-- Add ui-router library here -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	    <!-- Custom code -->
	    <link href = "css/main.css" rel="stylesheet" type = "text/css"/>
	    
	  </head>

	<body>

	<!-- facebook authentication with firebasee -->


		<div id="stuff">
			<div id="head"><span id="login">Login</span> / Register</div>
			<div id="nav" class="header">
				<a ui-sref="home" class="nav">Home</a> 
				<a ui-sref="newPost" class="nav">New Post</a> 
				<a ui-sref="calendar" class="nav">Calendar</a> 
				<a href="http://gamer.ischool.uw.edu/" target="_blank" class="nav">GAMERS</a>
			</div>

			<div id="main">
				<div id="titleleft">Forum Sidebar</div>
				<div id="titleright">Events/Features</div>

				<div id="left">
					<div id="leftbar">
						<h1>General</h1>
						<p>
							<strong>Hi Hello</strong><br />
							<a href="" class="sidebar" ng-repeat="general in generals">WOOHOO</a><br />
							<a href="" class="sidebar">WOOHOO</a>
						</p>

						<p>
							<strong>Other Stuff?????</strong><br />
							<a href="" class="sidebar" ng-repeat="stuff in stuffs">idk</a><br />
							<a href="" class="sidebar">omg</a><br />
							<a href="" class="sidebar">lol</a>

						<h1>Games</h1>
						<p>
							<strong>I like to play games</strong><br />
							<a href="" class="sidebar" ng-repeat="game in games">ayeeee</a><br />
							<a href="" class="sidebar">ayeeee</a>
						</p>

						<h1>Other</h1>
						<p>
							<strong>I like other stuff</strong><br />
							<a href="" class="sidebar" ng-repeat="other in others">poopy</a><br />
							<a href="" class="sidebar">doodoo</a>
						</p>
					</div>
				</div>
				<div id="center">
					<div ui-view>
						<h1>Featured stuff????</h1>
					
						<div class="container" id="centerTitle">
							<h4>News</h4>
						</div>
						<div class ="container">
							<div class ="row">
								<div class ="col-md-4" id="topic">
									<h5>Threads Created</h5>		
								</div>
								<div class ="container" id="threadList">
									<ul>
										<li ng-repeat='thread in threads'>{{thread.title + ' , created at ' + thread.createdAt}}</li>
									</ul>

								</div>
							</div>
						</div>
					</div>
				</div>

				<div id="right">
					<div id="rightbar">
						<p>
							Next Event
						</p>

						<p>
							idk if you guys wanted this to have its own header too
						</p>

						<h1>Events</h1>
						<ul>
							<li><strong>What's cookin good lookin</strong>
								<ul>
									<li ng-repeat="event in events">happenin' today</li>
									<li>and always</li>
								</ul>
							</li>
							<li><strong>October 11</strong>
								<ul>
									<li>sherrys bday</li>
									<li>really cool day</li>
									<li>dessert time ;)</li>
								</ul>
							</li>
						</ul>

						<h1>Chat?</h1>
						<p>
							Chat stuff
						</p>
					</div>
				</div>
			</div>

			<div id="footer">
				<p>
					There is a footer here<br />
					Yo yo yo yo embryo &copy; 2015
				</p>
			</div>
		</div>
	</body>

	<script src="js/main.js"></script>
</html>